
.header{
    padding-top: 48px;
    h1{
        font-size: 80px;
        border-bottom: 1px solid black;
    }
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.img_head{
    padding-top: 51px;
    padding-bottom: 48px;
}
.img_logo{
    padding: 8px;
}
.img_tree{
    padding-top: 8px;
}
h2{ 
    display:inline;
    padding-top: 48px;
    font-size: 32px;
     
}
 h3{
   display:inline;
   padding-top: 48px;
   font-size: 24px;
   line-height: 32px;
   color: red;
   
}
.bd{
  border-top: 1px solid gray;
}

.list{
    margin-top: 24px;
    
    p{
        line-height: 36px;
        font-size: 24px;
    }
}
.education{
    padding-top: 72px;
    padding-bottom: 72px;
}
.content{
    padding-top: 24px;
    padding-bottom: 36px;
    text-align: center;
    color: white;
    background: #415165 0% 0%;
    h2{
        font-size: 32px;
        
    }
    .menu{
      border-top: 1px solid gray;
        padding-top: 45px;
        ul{
        font-size: 24px;
	      line-height: 36px;
	      color: #fff;
	      border-left: 1px solid #96A9C4;
	      margin: 0 344px 0 516px;
        li{
          margin: 0 24px 0 16px; 
        }
        
      }
    }
}
.experience{
  padding-top: 72px;
  padding-bottom: 96px;
  h4{
    padding-top: 24px;
    font-size: 24px;
    
}
  .ebl{
    margin: 0 0 0 47px;
    border-left: 1px solid gray;  
  .box{
    font-size: 20px;
    line-height: 30px;
    }
    h5{
  font-size: 20px;
  
}
}
}


.footer{
    text-align: center;
    color: white;
    background: #415165 0% 0%;
    padding-top: 24px;
    h2{
        font-size: 32px;
    }
    .menu{
        border-top: 1px solid gray;
        padding-top: 46px;
        p{  
            font-size: 24px;
            line-height: 16x;
        }
    } 
      ul{
      display: flex;
      justify-content: center;
        li{
          margin: 16px 0 36px 24px;
          
        }
    }
         
}


 
